@import "app.less";

.scoreboardHeading {
  font-size: 1em;
}
.scoreboardEntry {
  padding: 10px 0 10px 0;
  font-size: 1.2em;
}
.teamName,
.points,
.games,
.wins,
.losses,
.draws {
  box-sizing: border-box;
  display: inline-block;
}
.teamName {
  width: 30%;
}
.points,
.games,
.wins,
.losses,
.draws {
  width: 12%;
}
.games,
.wins,
.losses,
.draws {
  text-align: center;
}
.points {
  text-align: right;
}
