body {
  background-color: #f4eaff;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}
.heading {
  font-family: Quicksand;
  text-transform: uppercase;
  text-align: center;
}
.heading1 {
  font-family: Quicksand;
  text-transform: uppercase;
  text-align: center;
  color: #553963;
  font-size: 2em;
  margin-bottom: 1em;
}
.heading2 {
  font-family: Quicksand;
  text-transform: uppercase;
  text-align: center;
  color: #89619f;
  font-size: 1.5em;
}
.heading2__lessVSpace {
  font-family: Quicksand;
  text-transform: uppercase;
  text-align: center;
  color: #89619f;
  font-size: 1.5em;
  margin: 0.25em 0 0.25em 0;
}
.inputField {
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
}
.inputTeamName {
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}
.teamScore {
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
  width: 47.5%;
}
.teamScore-container {
  text-align: center;
  margin-bottom: 1em;
}
.teamScore-divider {
  width: 5%;
  display: inline-block;
}
.teamScore-divider:before {
  content: '–';
}
.submitButton {
  background-color: #fdfd97;
  border: 0;
  box-sizing: border-box;
  padding: 1em;
  width: 30em;
}
.submitButton-register {
  background-color: #fdfd97;
  border: 0;
  box-sizing: border-box;
  padding: 1em;
  width: 30em;
  margin-top: 1em;
}
