body {
  background-color: #f4eaff;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}
.heading {
  font-family: Quicksand;
  text-transform: uppercase;
  text-align: center;
}
.heading1 {
  font-family: Quicksand;
  text-transform: uppercase;
  text-align: center;
  color: #553963;
  font-size: 2em;
  margin-bottom: 1em;
}
.heading2 {
  font-family: Quicksand;
  text-transform: uppercase;
  text-align: center;
  color: #89619f;
  font-size: 1.5em;
}
.scoreboardHeading {
  font-size: 1em;
}
.scoreboardEntry {
  padding: 10px 0 10px 0;
  font-size: 1.2em;
}
.teamName,
.points,
.games,
.wins,
.losses,
.draws {
  box-sizing: border-box;
  display: inline-block;
}
.teamName {
  width: 30%;
}
.points,
.games,
.wins,
.losses,
.draws {
  width: 12%;
}
.games,
.wins,
.losses,
.draws {
  text-align: center;
}
.points {
  text-align: right;
}
